#Fichiers de sauvegarde Eagle
*.b#*
*.s#*

#Fichiers de Visual Studio
*.sdf
*.suo

#Fichiers de sauvegarde SketchUp
*.skb

#Images (souvent trop lourdes)
*.png

#Executables
*.hex
*.exe

#Random bullshit
~*
**/.directory
